---
name: Continuous Integration
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: 59 23 * * *
  workflow_dispatch:
    inputs:
      version:
        description: Manual Unittest Run
        default: test
        required: false
jobs:
  unittests:
    name: ${{ matrix.os }}, ${{ matrix.environment-file }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    timeout-minutes: 60
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment-file:
          - ci/311-oldest.yaml
          - ci/311-latest.yaml
          - ci/312-latest.yaml
          - ci/313-latest.yaml
          - ci/313-dev.yaml
        include:
          - environment-file: ci/313-latest.yaml
            os: macos-15-intel  # Intel
          - environment-file: ci/313-latest.yaml
            os: macos-latest  # Apple Silicon
          - environment-file: ci/313-latest.yaml
            os: windows-latest
      fail-fast: false
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ${{ matrix.environment-file }}
          micromamba-version: latest
      - name: environment info
        shell: bash -l {0}
        run: |
          micromamba info
          micromamba list
      - name: spatial versions (if geopandas is installed)
        shell: bash -l {0}
        run: python -c "import geopandas; geopandas.show_versions();"
        if: contains(matrix.environment-file, 'dev')
      - name: run pytest
        run: |
          pytest \
          giddy \
          -v \
          -r a \
          -n logical \
          --color yes \
          --cov giddy \
          --cov-append \
          --cov-report xml \
          --cov-report term-missing
      - name: run docstring tests
        if: contains(matrix.environment-file, 'dev') && contains(matrix.os, 'ubuntu')
        run: |
          pytest \
          giddy \
          -v \
          -r a \
          -n logical \
          --color yes \
          --cov giddy \
          --cov-append \
          --cov-report xml \
          --cov-report term-missing \
          --doctest-only \
          --doctest-continue-on-failure 
      - name: codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          name: giddy-codecov
